<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>championdata</h1>
    
    <% for (let i in datos) { %>
    <article>
        <h1> <%= datos[i].id  %></h1>
        <p> <%= datos[i].title  %></p>
        <p> <%= datos[i].blurb  %></p>
        <% let urlimage=`https://ddragon.leagueoflegends.com/cdn/img/champion/splash/${datos[i].name}_0.jpg` %>
        <img src=<%= urlimage %> alt="W3Schools.com"  width="700" height="500">

    </article>
    <% } %>
</body>
</html>